<!DOCTYPE html>
<!-- 引入thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="nav">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">码匠社区</span>
                    </button>

                    <!-- 点击后，返回首页 -->
                    <a class="navbar-brand" href="/">码匠社区</a>

                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索问题">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">

                        <!-- 增加发布 -->
                        <li th:if="${session.user != null}">
                            <!-- 这是一个get请求，controller会执行页面的渲染 -->
                            <a href="/publish">提问</a>
                        </li>

                        <!-- th:if：如果session.user不为空，则打印整个li节点 -->
                        <li class="dropdown" th:if="${session.user != null}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <!-- 用户名和下拉按钮 -->
                                <span th:text="${session.user.getName()}"></span>
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="/profile/questions">我的问题</a></li>
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </li>

                        <!-- 访问结果：http://localhost:8888/callback?code=e059d2f586facf700818&state=1 -->
                        <li th:if="${session.user == null}">
                            <a href="https://github.com/login/oauth/authorize?client_id=5a75fcc0eb6a1b17d5de&redirect_uri=http://localhost:8888/callback&scope=user&state=1">登录</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

</body>

</html>